<div class="content">
   <%cache("component2") do%>
      <%=raw render_template_in_format({:object=>(!params[:popup].blank? ? BaseImage.all : @images),:header_include=>[],:main_header=>{},:decoration=>"/decoration/decoration_empty",:partial=>"/image/index"})%>
       <%end%>  
</div>

<%if not  params["popup"].blank? and params["popup"]=="true"%>
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript">
$('.insert_image').click(function(){
 var id = jQuery(this).attr('data-id')
 var src = jQuery(this).attr('data-src')
 window.opener.$("#before_upload").show();
 window.opener.$("#profile_image_id").attr("value",id)
 window.opener.$("#profile_image").attr("src",src)
 window.opener.$("#after_upload").hide();
 self.close();
 });
</script>
<%end%>